.user-item-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}
.user-item-container label{
    
    
    background-color: rgb(250, 212, 108);

    width: fit-content;
    font-weight: bold;
    box-sizing: border-box;


    font-size: 14px;
    color: white;

    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    max-width: 80%;
    font-weight: bold;
    box-sizing: border-box;
}

.user-item-container img{
    height: 40px;

}